//
// Base / General
// ---------------------------------------------

// Sticky footer styles
html {
  position: relative;
  min-height: 100%;
}

// Restore Bootstrap 3 "hidden" utility classes.
@each $bp in map-keys($grid-breakpoints) {
  .hidden-#{$bp}-up {
    @include media-breakpoint-up($bp) {
      display: none !important;
    }
  }
  .hidden-#{$bp}-down {
    @include media-breakpoint-down($bp) {
      display: none !important;
    }
  }
  .hidden-#{$bp}-only{
    @include media-breakpoint-only($bp){
      display:none !important;
    }
  }
}

// scroll to top button
#back-to-top {
  position: fixed;
  padding-top: 3px;
  bottom: 100px;
  right: 0;
  z-index: 9999;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: $color-1;
  color: #fff;
  cursor: pointer;
  border: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}
#back-to-top:hover {
  background: $color-1;
}
#back-to-top.show {
  opacity: 0.9;
}
// END scroll to top button

// customize cookie-modal
#cookie-consent {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 999999;
  border-color: #999 !important;
  background-color: rgba($color-4, 0.8) !important;
  color: #000;
  font-size: 14px;
  @include media-breakpoint-only(xs) {
    font-size: 13px;
  }
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #000;
  p {
    margin: 0;
    padding: 0;
  }
  a {
    color: blue;
  }
  #cookie-accept {
    cursor: pointer;
    color: blue;
    &:hover {
      text-decoration: underline;
    }
  }
}
// END customize cookie-modal
