//
// Footer
// ---------------------------------------------

.footer {
  position: absolute;
  bottom: 0;
  //overflow: hidden; // hide things that falls outside the footer height to prevent white space below the footer
  width: 100%;
  background-color: $gray-300;
  .footer-columns {
    padding-top: 20px;
    padding-bottom: 70px; // padding + the height of .bottom-bar
    @include media-breakpoint-up(xl) {
      padding-left: 100px;
    }
    h4 {
      font-size: 18px;
      color: $color-2;
      font-weight: normal;
    }
    ul.sitemap {
      list-style: none;
      padding: 0;
      li {
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }
    ul.social {
      margin: 0;
      padding: 10px 0 10px 0;
      > li {
        text-align: center;
        display: inline-block;
        > a {
          display: inline-block;
          font-size: 20px;
          line-height: 35px;
          @include size(35px, 35px);
          &.facebook {
            background-color: $sm-facebook;
          }
          &.twitter {
            background-color: $sm-twitter;
          }
          &.linkedin {
            background-color: $sm-linkedin;
          }
          &.instagram {
            background-color: $sm-instagram;
          }
          &.youtube {
            background-color: $sm-youtube;
          }
          &.googleplus {
            background-color: $sm-googleplus;
          }
          &.pinterest {
            background-color: $sm-pinterest;
          }
          &.snapchat {
            background-color: $sm-snapchat;
          }
          &.soundcloud {
            background-color: $sm-soundcloud;
          }
          color: #fff; // #fff; // edited
          margin: 0 3px 3px 0;
          &:hover {
            text-decoration: none;
            &.facebook {
              background-color: darken($sm-facebook, 6.5%);
            }
            &.twitter {
              background-color: darken($sm-twitter, 6.5%);
            }
            &.linkedin {
              background-color: darken($sm-linkedin, 6.5%);
            }
            &.instagram {
              background-color: darken($sm-instagram, 6.5%);
            }
            &.youtube {
              background-color: darken($sm-youtube, 6.5%);
            }
            &.googleplus {
              background-color: darken($sm-googleplus, 6.5%);
            }
            &.pinterest {
              background-color: darken($sm-pinterest, 6.5%);
            }
            &.snapchat {
              background-color: darken($sm-snapchat, 6.5%);
            }
            &.soundcloud {
              background-color: darken($sm-soundcloud, 6.5%);
            }
          }
        }
      }
    }
  }
  .bottom-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: $color-2;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    p {
      margin: 0;
      a {
        color: #fff;
      }
    }
  }

}
