//
// Header
// ---------------------------------------------

header[role="banner"] {

  .banner {
    height: 100px;
    a img {
      margin-top: 5px;
    }
    .top-menu {
      position: absolute;
      top: 0;
      right: 0;
      padding-top: 10px;
      padding-right: 20px;
      ul {
        list-style: none;
        li {
          margin-left: 15px;
          float: left;
        }
      }
    }
  }

}
