//
// Portal Page Contents
// --------------------------

main {

  /* HEADERS */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-1;
  }
  h1 {
    margin-bottom: 24px;
  }

  .share-buttons {
    ul.social-share {
      margin: 0;
      padding: 10px 0 10px 0;
      > li {
        text-align: center;
        display: inline-block;
        > a {
          display: inline-block;
          font-size: 20px;
          line-height: 35px;
          @include size(35px, 35px);
          &.facebook {
            background-color: $sm-facebook;
          }
          &.twitter {
            background-color: $sm-twitter;
          }
          &.linkedin {
            background-color: $sm-linkedin;
          }
          &.instagram {
            background-color: $sm-instagram;
          }
          &.youtube {
            background-color: $sm-youtube;
          }
          &.googleplus {
            background-color: $sm-googleplus;
          }
          &.pinterest {
            background-color: $sm-pinterest;
          }
          &.snapchat {
            background-color: $sm-snapchat;
          }
          &.soundcloud {
            background-color: $sm-soundcloud;
          }
          &.whatsapp {
            background-color: $sm-whatsapp;
          }
          &.envelope {
            background-color: $sm-envelope;
          }
          &.fbmessenger {
            background-color: $sm-fbmessenger;
          }
          color: #fff; // #fff; // edited
          margin: 0 3px 3px 0;
          &:hover {
            text-decoration: none;
            &.facebook {
              background-color: darken($sm-facebook, 6.5%);
            }
            &.twitter {
              background-color: darken($sm-twitter, 6.5%);
            }
            &.linkedin {
              background-color: darken($sm-linkedin, 6.5%);
            }
            &.instagram {
              background-color: darken($sm-instagram, 6.5%);
            }
            &.youtube {
              background-color: darken($sm-youtube, 6.5%);
            }
            &.googleplus {
              background-color: darken($sm-googleplus, 6.5%);
            }
            &.pinterest {
              background-color: darken($sm-pinterest, 6.5%);
            }
            &.snapchat {
              background-color: darken($sm-snapchat, 6.5%);
            }
            &.soundcloud {
              background-color: darken($sm-soundcloud, 6.5%);
            }
            &.whatsapp {
              background-color: darken($sm-whatsapp, 6.5%);
            }
            &.envelope {
              background-color: darken($sm-envelope, 6.5%);
            }
            &.fbmessenger {
              background-color: darken($sm-fbmessenger, 6.5%);
            }
          }
        }
      }
    }
  }

  // give any ul a class below and the list-style converts to an icon
  ul.list-arrow-right, ul.list-check, ul.list-hand, ul.list-dot, ul.list-angle-right, ul.list-thumbs-up, ul.list-plus-cirlce {
    list-style: none;
    padding: 0;
    li {
      padding-left: 1.5em;
      &:before {
        color: #fff;
        content: "\f0a9";
        font-family: "Font Awesome 5 Pro";
        font-weight: bold;
        display: inline-block;
        margin-left: -1.5em; /* same as padding-left set on li */
        width: 1.5em; /* same as padding-left set on li */
      }
    }
    &.list-hand {
      li:before {
        content: "\f0a4";
        font-weight: normal;
      }
    }
    &.list-thumbs-up {
      li:before {
        content: "\f164";
        font-weight: normal;
      }
    }
    &.list-plus-cirlce {
      li:before {
        content: "\f055";
        font-weight: normal;
      }
    }
    &.list-check {
      li:before {
        content: "\f058";
      }
    }
    &.list-dot {
      li:before {
        font-weight: normal;
        content: "\f069";
      }
    }
    &.list-angle-right {
      li:before {
        content: "\f105";
        font-weight: normal;
      }
    }
  }

  .column-border-right {
    @include media-breakpoint-up(md) {
      border-right: 1px solid $color-2;
    }
  }

  .card-main {
    background-color: $color-2;
    color: #fff;
    border: none;
    h2, h3 {
      color: #fff;
    }
  }

  .faq-section {
    hr {
      margin-top: 0;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        h3 {
          cursor: pointer;
        }
      }
    }
  }

  .element {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  .hestec__elementalextensions__elements__elementreviews {
    background-color: #333;
    color: #fff;
    .carousel {
      min-height: 500px;
      h3 {
        color: #fff;
      }
    }
  }

  .mc-error {
    color: red;
  }

  .step-pointers {
    .step-pointer {
      position: relative;
      background-color: $color-2;
      color: #fff;
      h5 {
        color: #fff;
        font-size: 18px;
      }
      p {
        font-size: 15px;
      }
      //border: 4px solid #c2e1f5;
      padding: 40px 20px 0 20px;
      border-radius: 10px;
      .step-badge {
        position: absolute;
        left: 0;
        top: 0;
        border-top: 56px solid rgba(255,255,255, 0.7);;
        border-right: 56px solid transparent;
      }
      .mask-t {
        color: $color-5;
        position: absolute;
        width: 56px;
        height: 56px;
        left: 0px;
        top: 0px;
        font-size: 28px;
        font-weight: 600;
        .sale-text {
          display: block;
          width:100%;
          height:100%;
          line-height: 56px;
          text-align: center;
          -webkit-transform: rotate(-45deg) translate(0, -25%);
          -moz-transform: rotate(-45deg) translate(0, -25%);
          -ms-transform: rotate(-45deg) translate(0, -25%);
          -o-transform: rotate(-45deg) translate(0, -25%);
          transform: rotate(-45deg) translate(0, -25%);
        }
      }
    }
    .step-col:not(:last-child){
      @include media-breakpoint-down(md) {
        margin-bottom: 30px !important;
      }
      .step-pointer:after {
        //background-color: red !important;
        left: 100%;
        top: 50%;
        @include media-breakpoint-down(md) {
          top: 100%;
          left: 50%;
        }
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        @include media-breakpoint-up(lg) {
          border-left-color: $color-2;
          border-width: 30px;
          margin-top: -30px;
        }
        @include media-breakpoint-down(md) {
          border-top-color: #88b7d5;
          border-width: 30px;
          margin-left: -30px;
        }
      }
    }
    .step-col:nth-last-child(2) .step-pointer {
      background-color: darken($color-2, 5%) !important;
      &:after {
        @include media-breakpoint-up(lg) {
          border-left-color: darken($color-2, 5%) !important;
        }
        @include media-breakpoint-down(md) {
          border-top-color: darken($color-2, 5%) !important;
        }
      }
    }
    .step-col:nth-last-child(3) .step-pointer {
      background-color: darken($color-2, 10%) !important;
      &:after {
        @include media-breakpoint-up(lg) {
          border-left-color: darken($color-2, 10%) !important;
        }
        @include media-breakpoint-down(md) {
          border-top-color: darken($color-2, 10%) !important;
        }
      }
    }
    .step-col:nth-last-child(4) .step-pointer {
      background-color: darken($color-2, 15%) !important;
      &:after {
        @include media-breakpoint-up(lg) {
          border-left-color: darken($color-2, 15%) !important;
        }
        @include media-breakpoint-down(md) {
          border-top-color: darken($color-2, 15%) !important;
        }
      }
    }
    .step-col:nth-last-child(5) .step-pointer {
      background-color: darken($color-2, 20%) !important;
      &:after {
        @include media-breakpoint-up(lg) {
          border-left-color: darken($color-2, 20%) !important;
        }
        @include media-breakpoint-down(md) {
          border-top-color: darken($color-2, 20%) !important;
        }
      }
    }
  }

  .ytdefer {
    margin: 0 auto;
    border: 1px solid #999;
  }

  // https://www.cssscript.com/simple-5-star-rating-system-with-css-and-html-radios/
  // http://code.iamkate.com/html-and-css/star-rating-widget/
  #rc-form {
    .rate-vote {
      float: left;
      //padding: 0;
      //li {
        //margin-right: 1px;
        input {
          display: none;
        }
        label {
          //padding: 0;
          //padding-top: 6px;
          color: gold;
          float: right;
          &:hover .star:before, &:hover ~ label .star:before {
            font-weight: bold;
          }
          .star:before {
            color: gold;
            content: "\f005";
            font-family: "Font Awesome 5 Pro";
            font-weight: lighter;
            font-size: 20px;
          }
          .icon {
            &.fas {
              display: none;
            }
            //font-size: 30px;
            /*height: 50px !important;
            line-height: 50px;
            @include media-breakpoint-only(xs) {
              font-size: 25px;
              height: 35px !important;
              line-height: 35px;
            }*/
            //display: block;
          }
        }
        input[type=radio]:checked ~ label .star:before {
          font-weight: bold;
          //color: gold;
          /*.icon {
            &.fal {
              display: none;
            }
            &.fas {
              display: block;
            }
          }*/
        }
      //}
    }
  }

  .rate-stars {
    //float: left;
    //width: 100%;
    .star {
      //float: right;
      &:before {
        color: gold;
        content: "\f005";
        font-family: "Font Awesome 5 Pro";
        font-weight: lighter;
        font-size: 20px;
      }
      &.voted:before, &.voted ~ .star:before {
        font-weight: bold;
      }
    }
  }

  .card-note {
    background-color: $gray-100;
    font-size: 0.95rem;
  }

}
