//
// Navigation
// ---------------------------------------------

// see for Bootstrap 4 navbar examples: https://medium.com/wdstack/bootstrap-4-custom-navbar-1f6a2da5ed3c

.navbar {
  background-color: $color-2; // set navbar background color (you can remove bg-dark class in header.ss)
  //border-bottom: 5px solid $color-2; // another example
  font-size: 18px;
  min-height: 58px;
  .navbar-nav {
    @include media-breakpoint-up(lg) {
      padding-left: 60px; // not necessary if the navs are centered or right
    }
    @include media-breakpoint-down(sm) {
      // text-align: center; // menu items in mobile menu centered
    }
    li {
      @include media-breakpoint-up(lg) {
        margin-left: 10px;
        margin-right: 10px;
        &.dropdown {
          .icon {
            width: 32px;
          }
        }
      }
      .dropdown-item {
        height: 40px;
      }
      @include media-breakpoint-down(md) {
        border-bottom: 1px solid darken($color-2, 5%);
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
  .navbar-brand {
    display: none;
  }
}

// begin sticky navbar on scroll settings (see: https://bootbites.com/articles/freebie-sticky-bootstrap-navbar-scroll-bootstrap-4/)

.sticky {
  // Element is a sticky target but not yet sticky

  &.navbar {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  // Elements which fade in or out on sticky
  .show-is-sticky,
  .show-not-sticky {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 0;
    visibility: hidden;
  }
  .show-not-sticky {
    opacity: 1;
    visibility: visible;
  }
}

.sticky.is-sticky {
  // Sticky target is now sticky
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;

  &.navbar {
    .navbar-brand {
      position: absolute;
      display: block;
      top: 2px;
    }
  }

  // Elements which fade in or out on sticky
  .show-is-sticky {
    opacity: 1;
    visibility: visible;
  }
  .show-not-sticky {
    opacity: 0;
    visibility: hidden;
  }
}

// end sticky navbar on scroll settings

// dropdown open on mouse over
.dropdown:hover .dropdown-menu {
  @include media-breakpoint-up(lg) {
    display: block;
    margin-top: 0; // prevert closing when mouse in gap
  }
}

